{% load humanize %}
{% load static %}

<!--Load Posts-->
    {% for post in page_obj.object_list %}
    <div class="border box-shadow-posts p-3 mb-4 mx-0 mx-md-3">
        <div class="pb-2" id="post_headline_{{ post.id }}">
            <a href="{% url 'profile' post.creator.id %}" class="green-link">
                <strong>{{ post.creator }}</strong>
            </a>
            <small class="pl-2 text-black-50">{{ post.timeCreated|naturaltime }}</small>
            {% if user.is_authenticated and user == post.creator %}
            <a href="javascript:void(0)" data-id="{{ post.id }}" id="edit_{{ post.id }}" class="badge badg-secondary ml-1">Edit</a>
            {% endif %}
        </div>

        <div id="post_contentgroup_{{ post.id }}">
            <p id="post_content_{{ post.id }}" class="mb-2">{{ post.content }}</p>
        </div>

        <div class="text-right" id="save_buttons_{{ post.id }}">

        </div>

        <div id="post_likes_{{ post.id }}">
            {% if user.is_authenticated %}
                <i id="post_likeicon_{{ post.id }}" data-id="{{ post.id }}" class="likeicon likeicon-user fa-heart {% if user in post.liked_by.all %}fas{% else %}far{% endif %}"></i>
            {% else %}
                <i class="likeicon fa-heart {% if post.likes != 0 %}fas{% else %}far{% endif %}"></i>
            {% endif %}
            <span id="post_likecount_{{ post.id }}">{{ post.likes }}</span>
        </div>
    </div>

    {% empty %}
    <div class="p-3 mb-4 mx-0 mx-md-3">
        No Posts Found!
    </div>
    {% endfor %}

    {% if page_obj.object_list %}
        <!--Pagination-->
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                    <a class="page-link pagination-green-inactive" href="{{ previous_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <!--Shows the numbers btw pervious and next-->
                {% for n in page_obj.paginator.page_range %}

                    {% if n == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link" style="border-color: #80A189; background-color: #85A68E;">
                        {{ n }}
                        <span class="sr-only">(current)</span>
                        </span>
                    </li>

                    {% elif n < page_obj.number|add:3 and n > page_obj.number|add:-3 %}
                    <li class="page-item">
                        <a class="page-link pagination-green-inactive" href="{{GET_params.urlencode}}?page={{ n }}">{{ n }}</a>
                    </li>
                    {% endif %}

                {% endfor %}
                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                    <a class="page-link pagination-green-inactive" href="{{ next_url }}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}